.btn{
    background-color: black;
    color:azure;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.3s;
    cursor:pointer;
    border-radius: 4px;
}

.btn :hover{
    color: #ffbb33;
}